.add-content-form {
    max-width: 500px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    margin: 80px auto;
    padding: 16px;

    &__input {
        height: 36px;
    }

    &__select {
        height: 36px;
    }

    &__description {
        height: 120px;
        resize: vertical;
    }
}

.form-control {
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 0 5px;
    margin: 6px 0 24px 0;
    border: 1px solid rgba(255,255,255,0.8);

    &:hover, &:focus {
        box-shadow: 0 0 5px #c6dee8;
    }

    &.error {
        border-color: #e63f3f;
    }
}


.add-content-btn {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    letter-spacing: 1px;
    background-color: #ffc923;
    color: #000;
    margin: 10px 0;
    border: none;
    padding: 12px 20px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        background-color: #faa400;
    }
}