.content__item {
    display: flex;
    margin: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.15);

    &:last-child {
        border-bottom: none;
    }

    @media all and (max-width: 992px) {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
}

.content__poster {
    max-width: 250px;
    flex: 0 1 100%;
    margin-right: 20px;

    @media all and (max-width: 992px) {
        margin: 0 auto;
    }
}

.content__title {
    font-weight: normal;
    margin-top: 2px;

    &-link {
        color: #fff;
    
        &:hover {
            color: #ffc000;
        }
    }
}

.content__description-wrapper {
    @media all and (max-width: 992px) {
        padding-top: 8px;
    }
}

.content__description {
    color: gray;
}

.rating {
    &__stars {
        display: inline-block;
        position: relative;
        height: 14px;
        width: 138px;
        overflow: hidden;
    }

    &__stars-bg {
        width: 138px;
        height: 13px;
        position: absolute;
        background: url(../assets/rating.png) repeat-x;
        background-position: 0 -27px;
        z-index: 5;
        top: 2px;
    }

    &__stars-current {
        height: 13px;
        position: absolute;
        background: url(../assets/rating.png) repeat-x;
        background-position: 0 -41px;
        z-index: 10;
        top: 2px;
    }

    &__value {
        display: inline-block;
        padding-left: 10px;
    }
}