.slideshow-container {
    position: relative;
    margin: 20px 0;
}

.slides-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide {
    position: absolute;
    transition: 1s ease;
    opacity: 0;

    &__img {
        width: 100%;
        height: auto;
        display: block;
    }

    &.active {
        opacity: 1;
    }
}

.slide-prev, .slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 50px;
    line-height: 50px;
    width: auto;
    padding: 0 14px;
    color: red;
    font-size: 33px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
}

.slide-next {
    right: 0;
    left: auto;
}

.slide-prev:hover, .slide-next:hover {
    background-color: red;
    color: red;
}

.slide-indicators-container {
    position: absolute;
    bottom: 6px;
    width: 100%;
    text-align: center;
}

.slide-indicator {
    cursor: pointer;
    height: 5px;
    width: 40px;
    margin: 0 5px;
    background-color: red;
    display: inline-block;
    -webkit-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;

    &.active {
        background-color: blue;
    }
}



.about-us {
    text-align: center;
    padding: 20px 0;

    &__title {
        font-size: 24px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        text-align: justify;
        text-indent: 50px;
        padding: 0 20px;
    }
}

.service {
    padding: 10px;
    text-align: center;

    &__wrapper {
        min-height: 250px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 30px 10px;
        margin: 5px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &__icon {
        width: 128px;
        height: 128px;
        margin: 0 auto;
        background-size: cover;
        font-size: 0;

        &--book {
            background-image: url("../assets/open-book.png");
        }

        &--video {
            background-image: url("../assets/video-camera.png");
        }

        &--music {
            background-image: url("../assets/music-player.png");
        }
    }

    &__title {
        text-transform: uppercase;
    }
}




.map-box {
    min-height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px 0 80px;
}

.map {
    background-image: url("../assets/map.jpg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.company-contacts {
    padding: 10px 15px 0 30px;

    &__city {
        font-size: 18px;
    }

    &__text {
        font-size: 14px;
        color: #8e8c8c;
    }

    &__address {
        font-size: 14px;
        color: #fff;
    
        li {
            // position: relative;
            margin-bottom: 12px;
            line-height: 20px;
            // &::before {
            //     content: "";
            //     width: 16px;
            //     height: 16px;
            //     background-image: url("../assets/link.png");
            // }
        }
    
        a {
            color: #fff;
    
            &:hover {
                color: #1e90ff;
            }
        }
    }
}

.social-links {
    padding: 5px 0;
}

.social-link {
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;
    float: left;
    margin-right: 20px;
    font-size: 0;

    &:hover {
        color: #1e90ff;
    }

    &--twitter {
        background-image: url("../assets/twitter.png");
    }

    &--facebook {
        background-image: url("../assets/facebook.png");
    }

    &--instagram {
        background-image: url("../assets/instagram.png");
    }

    &--google {
        background-image: url("../assets/google-plus.png");
    }
}