.pagination {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    &__item {
        display: inline;
    }

    &__link {
        display: inline-block;
        padding: 6px 12px;
        margin-left: -1px;
        background-color: transparent;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &:hover:not(.pagination--active) {
            background-color: rgba(255, 255, 255, 0.2);
            color: #ffc000;
        }
    }

    // &--disabled {
    //     color: #000;
    //     background-color: rgba(255, 255, 255, 0.2);
    //     cursor: default;
    // }

    &--active {
        color: #000;
        background-color: #ffc923;
        cursor: default;
    }
}
