.login-form {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    margin: 80px auto 0;
    max-width: 350px;
    padding: 16px;

    &__input {
        height: 36px;
    }
}

.form-control {
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 0 5px;
    margin: 6px 0 24px 0;
    border: 1px solid rgba(255,255,255,0.8);

    &:hover, &:focus {
        box-shadow: 0 0 5px #c6dee8;
    }

    &.error {
        border-color: #e63f3f;

        &:hover, &:focus {
            box-shadow: 0 0 5px #ff8e8e;
        }
    }
}

.label-link {
    font-size: 13px;
    float: right;
    color: #088117;

    &:hover {
        text-decoration: underline;
    }
}

.hide-label {
    position: absolute;
    left: -99999px;
}

.login-btn {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    letter-spacing: 1px;
    background-color: #ffc923;
    color: #000;
    margin: 10px 0;
    border: none;
    padding: 12px 20px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        background-color: #faa400;
    }
}

.form-privacy {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

.form-privacy-link {
    color: #ffc000;

    &:hover {
        text-decoration: underline;
    }
}

.signup-error-message {
    display: inline-block;
    font-size: 14px;
    color: #e63f3f;
}